
//  Colors
$mainColor: #c80c0c;
$secondColor: #f1c40f;
$thirdColor: #f39c12;


//  Main

body{
  background-color: $mainColor;
}


//  Common

.common--allElements_pointerOnHover{
  &:hover{
    cursor: pointer;
  }
}

.common--allElements_defaultCursor{
  &:hover{
    cursor: default;
  }
}

.common--allElements_center{
    padding: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
}


//Star

.star--Icon{
  color: $secondColor;
}

//Review area

.reviewForm--textarea{
  min-height: inherit;
  height: auto;
  font-size: 1em;
  font-weight: bold;
  font-family: "Roboto";
  color: white;
  padding: 5px;
  border-color: white;
  border-width: 4px;
  border-radius: 5px;

  &::placeholder{
    color: white;
  }
}

//Materialize modifications

.btn {
  background-color: $secondColor;
  font-family: "Roboto" !important;
  font-weight: bold;

    &:active{
      background-color: $secondColor;
    }
    &:hover{
      background-color: $secondColor;
    }

    &:after{
      background-color: $secondColor;
    }

}