
//  Colors
$mainColor: #c80c0c;
$secondColor: #f1c40f;
$thirdColor: #f39c12;


//  Main

body{
  background-color: $mainColor;
}

//  Common

.common--allElements_pointerOnHover{
  &:hover{
    cursor: pointer;
  }
}

.common--allElements_defaultCursor{
  &:hover{
    cursor: default;
  }
}

.common--allElements_center{
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
}

//  Profile

.profile--foto{
  background-color: white;
  height: 30vh;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  position: relative;
  display: flex;

    span{
      margin:auto;
    }

    p {
      margin-left:10px;
      font-weight: bold;
      font-family: "Roboto" !important;
      color: black;
    }
}

.profile--logo{
  margin: 5px;
  height: 20vh;
  width: 20vh;
  bottom: 0;
  border-radius: 5px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  position: absolute;

  p {
    font-weight: bold;
    font-family: "Roboto" !important;
    color: black;
  }
}

.profile--logo__mobile {
  margin: 5px;
  height: 20vh;
  width: 20vh;
  bottom: 0;
  border-radius: 5px;
  border-width: 4px;
  border-color: black;
  border-style: solid;

  p {
    font-weight: bold;
    font-family: "Roboto" !important;
    color: black;
  }
}

.profile--resName{
  margin-top: 0 !important;
  font-weight: bold;
  font-family: "Roboto" !important;
  color: white;
}

.profile--backgroundFoto__mobile{
}